.blue {
    color: #29b6f6;
}
.green {
    color: #9ccc65;
}
.purple {
    color: #ba68c8;
}
.cyan {
    color: #4dd0e1;
}
.red {
    color: #ef5350;
}

/* The animation code */
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }


.card-container {
    display: flex;
    /* border: 4px solid rgb(0, 255, 34); */
    /* background-color:#171717 ; */
    /* background-image: url('../Media/ep_naturalblack.png'); */
    
    /* color: whitesmoke;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    margin-top: 5%;
    background-color: transparent;
    width: 98vw;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
 
}
/* This container is needed to position the front and back side */
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   

     
  
   
  }

/* Do an horizontal flip when you move the mouse over the flip box container */
.card-container:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .card-content-front, .card-content-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 25px;
    padding-left: 1rem;
   
   

    
    
  
   
  }
  
  /* Style the front side (fallback if image is missing) */
  .card-content-front {
    background-color: #171717;
    color: white;
  }
  
  /* Style the back side */
  .card-content-back {
    background-color: #171717;
    color: white;
    transform: rotateY(180deg);
  }
  

  

.card-content{
    padding-top: 5%;
    padding-bottom: 5%;
}



@media screen and (min-width: 700px){
    .card-container{
        width: 50vw;;
    }
}
/* 
.card {
    perspective: 150rem;
    height: 10rem;
    width: 20rem;
    position: relative;
}
.card__side {
    height: 15rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    width: 30rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}
.card__side--front {
    background-color: #1c1c1c;
}
.card__side--back {
    transform: rotateY(180deg);
    background-color: #1c1c1c;
}
.card:hover .card__side--front {
    transform: rotateY(-180deg);
}
.card:hover .card__side--back {
    transform: rotateY(0deg);
}
.card__cont {
    height: 15rem;
    background-color: #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    color: white;
}
.card__cta p {
    margin-left: 1rem;
}
.card__cta p > .space {
    margin-left: 2rem;
} */
