.blue {
    color: #29b6f6;
}
.green {
    color: #9ccc65;
}
.purple {
    color: #ba68c8;
}
.cyan {
    color: #4dd0e1;
}
.red {
    color: #ef5350;
}


.card-container {
    display: flex;
    margin-top: 5%;
    background-color: aliceblue;
    width: 98vw;
    height: 200px;

    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    /* border: 4px solid rgb(0, 255, 34); */
    /* background-color:#171717 ; */
    /* background-image: url('../Media/ep_naturalblack.png'); */
    /* color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
 
}
/* This container is needed to position the front and back side */
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
   

     
  
   
  }
  .card-inner > .card-content-front{
    text-align: center;
  }

/* Do an horizontal flip when you move the mouse over the flip box container */
.card-container:hover .card-inner {
    transform: rotateY(-180deg);
  }
  
  /* Position the front and back side */
  .card-content-front, .card-content-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 25px;
    padding-left: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   

    
    
  
   
  }
  
  /* Style the front side (fallback if image is missing) */
  .card-content-front {
    background-color: hsl(0, 0%, 9%);
    color: white;
    text-align: center;
  }
  
  /* Style the back side */
  .card-content-back {
    background-color: #171717;
    color: white;
    transform: rotateY(180deg);
  }
  

  .card-image{
    width: 100%;
    height: auto;
    max-width: 120px;
    color:#fff;
    padding-top: 2%;
    margin-left: auto;
    margin-right: auto;
  }

.card-content{
    padding-top: 5%;
    padding-bottom: 5%;
}

.touch-or-hover-container{
    width: 200px;
   
  

}
.touch-or-hover-icon{
    width: 100%;
    height: auto;
    max-width: 100px;
    padding-top: 1%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
.touch-or-hover-text{
    display: inline;
    float: left;
    
}


@media screen and (min-width: 700px){
    .card-container{
        max-width: 33vw;;
    }
}



/* 
.card {
    perspective: 150rem;
    height: 10rem;
    width: 20rem;
    position: relative;
}
.card__side {
    height: 15rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    width: 30rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}
.card__side--front {
    background-color: #1c1c1c;
}
.card__side--back {
    transform: rotateY(180deg);
    background-color: #1c1c1c;
}
.card:hover .card__side--front {
    transform: rotateY(-180deg);
}
.card:hover .card__side--back {
    transform: rotateY(0deg);
}
.card__cont {
    height: 15rem;
    background-color: #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    color: white;
}
.card__cta p {
    margin-left: 1rem;
}
.card__cta p > .space {
    margin-left: 2rem;
} */
