.landing-container{
 
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    
  }
  
  .landing-content{
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    line-height: 2.5rem;
    
  }
  .icon-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
   
  }
  
  
  
  
  .responsive-icon{
   
      width: 100%;
      height: auto;
      max-width: 4rem;
      padding-top: 2rem;
      filter: saturate(5);
    
  }