



* {
  /* widths/heights take border and padding into account */
    box-sizing: border-box;
    margin: 0;  
    padding: 0;
}


body {
  /* ensure that the body takes up the entire vertical height of the device with  */
    height: 100vh;
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.6;
    background-color: #171717;
   
    

    
}

p{
  margin: 0.5em 0 0.5em 0;
}

/* .flex-wrapper{

} */

.container {
  max-width: 1000px;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  margin-left: auto;
  margin-right: auto;
 
} 


.left-column-desktop{
  display: none;
}
.right-column-desktop{
  display: none;
}
  
  

main{
  display: flex;
  flex-direction: row;
  padding-top: 64px;
  
}

.center-column-desktop > section:nth-of-type(even)
{ 
  background-color: aliceblue;
  color: #36498f;

}
.center-column-desktop > section:nth-of-type(odd)
{ 
  background-color:#161d20;
  color: #36498f;

}

.about-container{

    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 4px solid rgb(218, 56, 196); */
    padding-top: 2%;
 

    

}







/* Desktop */
@media screen and (min-width: 700px){
  .left-column-desktop{
    display:block;
    background-color: #ddf5ff;
  }
  .right-column-desktop{
    display: block;
    background-color: #ddf5ff;
  }

}
/* Every child div of the main flex container */
main > div {
  
  
  flex: 1;
}
/* The second div element of the parent 'main' */
main > div:nth-of-type(2){
  flex: 4;
  /* border: 1px solid rgb(218, 56, 196);  */
}

/*  
 .card-container{
display: none;
}  */
  
  


/*
   .about-container, 
  .projects, 
  .contact,
  .guestbook{
    border-width: 0.1em;
    border-color: rgb(0, 0, 0);
    border-style: solid;

  }  */

.projects, .contact, .guestbook{
  background-image: url("../Media/coming\ soon.jpg");
  background-position:center;
  background-color: transparent
  transp
}


